<a href="https://colab.research.google.com/github/memeanji/pandas_studylog/blob/master/day03_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd
tt = sns.load_dataset('titanic')

sort_values(정렬)
- 정렬 기준: 오름, 내림
- 정렬 기준 컬럼이 필요함

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
tt.sort_values('age') #정렬의 기본값은 오름차순

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
tt.sort_values('age',ascending=False) #내림차순으로 변경하고 싶으면 ascending=False

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
116,0,3,male,70.5,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
#기준 컬럼이 2개 이상일때
# 앞 커럶이 무엇인지에 따라 정렬의 기준이 됨
display(tt.sort_values(['age','pclass']))

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
display(tt.sort_values(['pclass','age']))

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
305,1,1,male,0.92,1,2,151.5500,S,First,child,False,C,Southampton,yes,False
297,0,1,female,2.00,1,2,151.5500,S,First,child,False,C,Southampton,no,False
445,1,1,male,4.00,0,2,81.8583,S,First,child,False,A,Southampton,yes,False
802,1,1,male,11.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
435,1,1,female,14.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
#2개 컬럼도 정렬의 기준을 다르게 잡을 수 있음
display(tt.sort_values(['age','pclass'],ascending=[False,True]))
#ascending=[False,True]는 다중 정렬일 때 사용
#여기선 age는 내림차순 정렬 pclass는 오름차순정렬
#ascending=[True,False]도 가능함

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
116,0,3,male,70.5,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

### Groupby
- 데이터 집계할 떄 이용
- 데이터를 묶고 -> 내가 원하는 통계치를 바라볼 떄 사용
- 남성 4
- 여성 2
- 남성 1
- 여성 7
- 남성 4
- groupby
    - 기준컬럼을 잡고 (성별)
    - 남성 - 합계(9), 평균(3)
    - 여성 - 합계(9), 평균(4.5)
- 데이터프레임.groupby('기준컬럼')
- groupby와 함께 사용하는 agg함수 - 통계치를 빠르게 확인할 때 사용

In [ ]:
pc_gr=tt.groupby('pclass')

In [ ]:
#그룹이 어떤식으로 묶이는지

for i,j in pc_gr:
    print(i,j)

# 그룹별 통계 계산/분석할때, 글룹별로 다른 처리 적용할때,
# 그룹별 시각화,조건별 로직처리할 때 이렇게 사용

1      survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1           1       1  female  38.0      1      0  71.2833        C  First
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
11          1       1  female  58.0      0      0  26.5500        S  First
23          1       1    male  28.0      0      0  35.5000        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
11   woman       False    C  Southampton   yes   True
23     man        True    A  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
871  woman       False    D  Southampton   yes  False
872    man        True    B  Southampton    no   True
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True
889    man        True    C    Cherbourg   yes   True

[216 rows x 15 columns]
2      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
17          1       2    male   NaN      0      0  13.0000        S  Second
20          0       2    male  35.0      0      0  26.0000        S  Second
21          1       2    male  34.0      0      0  13.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second
883         0       2    male  28.0      0      0  10.5000        S  Second
886         0       2    male  27.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
15   woman       False  NaN  Southampton   yes   True
17     man        True  NaN  Southampton   yes   True
20     man        True  NaN  Southampton    no   True
21     man        True    D  Southampton   yes   True
..     ...         ...  ...          ...   ...    ...
866  woman       False  NaN    Cherbourg   yes  False
874  woman       False  NaN    Cherbourg   yes  False
880  woman       False  NaN  Southampton   yes  False
883    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True

[184 rows x 15 columns]
3      survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0           0       3    male  22.0      1      0   7.2500        S  Third
2           1       3  female  26.0      0      0   7.9250        S  Third
4           0       3    male  35.0      0      0   8.0500        S  Third
5           0       3    male   NaN      0      0   8.4583        Q  Third
7           0       3    male   2.0      3      1  21.0750        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
882         0       3  female  22.0      0      0  10.5167        S  Third
884         0       3    male  25.0      0      0   7.0500        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third
890         0       3    male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
2    woman       False  NaN  Southampton   yes   True
4      man        True  NaN  Southampton    no   True
5      man        True  NaN   Queenstown    no   True
7    child       False  NaN  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
882  woman       False  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
888  woman       False  NaN  Southampton    no  False
890    man        True  NaN   Queenstown    no   True

[491 rows x 15 columns]

In [ ]:
#groupby를 한 후에 1번으로 값을 넣으면 내가 그룹한 값들의 데이터프레임 반환
pc_gr.get_group(2)
# 이 코드는 tt라는 DataFrame을 pclass로 묶고,
# 그중에서 pclass == 2인 그룹만 뽑아서 반환해.

# 즉, 2등석 승객들만 모은 작은 DataFrame이 나옴
# pclass를 확인해보면 2등급인 승객들만 나온걸 확인할 수 있음

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True

In [ ]:
#2개 이상도 묶을 수 있음
ps_gr=tt.groupby(['pclass','sex'])

In [ ]:
for i,j in ps_gr:
    print(i,j)

# 이 코드는 pclass랑 sex 두 개의 열을 기준으로 그룹을 만든 거야.
# 예를 들어서 “1등석 남자”, “1등석 여자”, “2등석 남자”
# … 이런 식으로 **다중 그룹화 (Multi-index GroupBy)**가 되는 거지.

(np.int64(1), 'female')      survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
1           1       1  female  38.0      1      0   71.2833        C  First
3           1       1  female  35.0      1      0   53.1000        S  First
11          1       1  female  58.0      0      0   26.5500        S  First
31          1       1  female   NaN      1      0  146.5208        C  First
52          1       1  female  49.0      1      0   76.7292        C  First
..        ...     ...     ...   ...    ...    ...       ...      ...    ...
856         1       1  female  45.0      1      1  164.8667        S  First
862         1       1  female  48.0      0      0   25.9292        S  First
871         1       1  female  47.0      1      1   52.5542        S  First
879         1       1  female  56.0      0      1   83.1583        C  First
887         1       1  female  19.0      0      0   30.0000        S  First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
11   woman       False    C  Southampton   yes   True
31   woman       False    B    Cherbourg   yes  False
52   woman       False    D    Cherbourg   yes  False
..     ...         ...  ...          ...   ...    ...
856  woman       False  NaN  Southampton   yes  False
862  woman       False    D  Southampton   yes   True
871  woman       False    D  Southampton   yes  False
879  woman       False    C    Cherbourg   yes  False
887  woman       False    B  Southampton   yes   True

[94 rows x 15 columns]
(np.int64(1), 'male')      survived  pclass   sex   age  sibsp  parch      fare embarked  class  \
6           0       1  male  54.0      0      0   51.8625        S  First
23          1       1  male  28.0      0      0   35.5000        S  First
27          0       1  male  19.0      3      2  263.0000        S  First
30          0       1  male  40.0      0      0   27.7208        C  First
34          0       1  male  28.0      1      0   82.1708        C  First
..        ...     ...   ...   ...    ...    ...       ...      ...    ...
839         1       1  male   NaN      0      0   29.7000        C  First
857         1       1  male  51.0      0      0   26.5500        S  First
867         0       1  male  31.0      0      0   50.4958        S  First
872         0       1  male  33.0      0      0    5.0000        S  First
889         1       1  male  26.0      0      0   30.0000        C  First

     who  adult_male deck  embark_town alive  alone
6    man        True    E  Southampton    no   True
23   man        True    A  Southampton   yes   True
27   man        True    C  Southampton    no  False
30   man        True  NaN    Cherbourg    no   True
34   man        True  NaN    Cherbourg    no  False
..   ...         ...  ...          ...   ...    ...
839  man        True    C    Cherbourg   yes   True
857  man        True    E  Southampton   yes   True
867  man        True    A  Southampton    no   True
872  man        True    B  Southampton    no   True
889  man        True    C    Cherbourg   yes   True

[122 rows x 15 columns]
(np.int64(2), 'female')      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
41          0       2  female  27.0      1      0  21.0000        S  Second
43          1       2  female   3.0      1      2  41.5792        C  Second
53          1       2  female  29.0      1      0  26.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
854         0       2  female  44.0      1      0  26.0000        S  Second
865         1       2  female  42.0      0      0  13.0000        S  Second
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
15   woman       False  NaN  Southampton   yes   True
41   woman       False  NaN  Southampton    no  False
43   child       False  NaN    Cherbourg   yes  False
53   woman       False  NaN  Southampton   yes  False
..     ...         ...  ...          ...   ...    ...
854  woman       False  NaN  Southampton    no  False
865  woman       False  NaN  Southampton   yes   True
866  woman       False  NaN    Cherbourg   yes  False
874  woman       False  NaN    Cherbourg   yes  False
880  woman       False  NaN  Southampton   yes  False

[76 rows x 15 columns]
(np.int64(2), 'male')      survived  pclass   sex   age  sibsp  parch  fare embarked   class  who  \
17          1       2  male   NaN      0      0  13.0        S  Second  man
20          0       2  male  35.0      0      0  26.0        S  Second  man
21          1       2  male  34.0      0      0  13.0        S  Second  man
33          0       2  male  66.0      0      0  10.5        S  Second  man
70          0       2  male  32.0      0      0  10.5        S  Second  man
..        ...     ...   ...   ...    ...    ...   ...      ...     ...  ...
848         0       2  male  28.0      0      1  33.0        S  Second  man
861         0       2  male  21.0      1      0  11.5        S  Second  man
864         0       2  male  24.0      0      0  13.0        S  Second  man
883         0       2  male  28.0      0      0  10.5        S  Second  man
886         0       2  male  27.0      0      0  13.0        S  Second  man

     adult_male deck  embark_town alive  alone
17         True  NaN  Southampton   yes   True
20         True  NaN  Southampton    no   True
21         True    D  Southampton   yes   True
33         True  NaN  Southampton    no   True
70         True  NaN  Southampton    no   True
..          ...  ...          ...   ...    ...
848        True  NaN  Southampton    no  False
861        True  NaN  Southampton    no  False
864        True  NaN  Southampton    no   True
883        True  NaN  Southampton    no   True
886        True  NaN  Southampton    no   True

[108 rows x 15 columns]
(np.int64(3), 'female')      survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
2           1       3  female  26.0      0      0   7.9250        S  Third
8           1       3  female  27.0      0      2  11.1333        S  Third
10          1       3  female   4.0      1      1  16.7000        S  Third
14          0       3  female  14.0      0      0   7.8542        S  Third
18          0       3  female  31.0      1      0  18.0000        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
863         0       3  female   NaN      8      2  69.5500        S  Third
875         1       3  female  15.0      0      0   7.2250        C  Third
882         0       3  female  22.0      0      0  10.5167        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
18   woman       False  NaN  Southampton    no  False
..     ...         ...  ...          ...   ...    ...
863  woman       False  NaN  Southampton    no  False
875  child       False  NaN    Cherbourg   yes   True
882  woman       False  NaN  Southampton    no   True
885  woman       False  NaN   Queenstown    no  False
888  woman       False  NaN  Southampton    no  False

[144 rows x 15 columns]
(np.int64(3), 'male')      survived  pclass   sex   age  sibsp  parch     fare embarked  class  \
0           0       3  male  22.0      1      0   7.2500        S  Third
4           0       3  male  35.0      0      0   8.0500        S  Third
5           0       3  male   NaN      0      0   8.4583        Q  Third
7           0       3  male   2.0      3      1  21.0750        S  Third
12          0       3  male  20.0      0      0   8.0500        S  Third
..        ...     ...   ...   ...    ...    ...      ...      ...    ...
877         0       3  male  19.0      0      0   7.8958        S  Third
878         0       3  male   NaN      0      0   7.8958        S  Third
881         0       3  male  33.0      0      0   7.8958        S  Third
884         0       3  male  25.0      0      0   7.0500        S  Third
890         0       3  male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
4      man        True  NaN  Southampton    no   True
5      man        True  NaN   Queenstown    no   True
7    child       False  NaN  Southampton    no  False
12     man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
877    man        True  NaN  Southampton    no   True
878    man        True  NaN  Southampton    no   True
881    man        True  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
890    man        True  NaN   Queenstown    no   True

[347 rows x 15 columns]

In [ ]:
ps_gr.get_group((2,'female'))
#pclass가 2등급이고 female인 사람들을 기준으로 정렬
#get_group() vs groupby()
#groupby() → 묶을 준비
#get_group() → 묶인 것 중 하나를 꺼냄
#ps_gr = tt.groupby(['pclass', 'sex'])
    #pclass와 sex 기준으로 데이터를 묶을 준비만 한 상태
#ps_gr.get_group((2, 'female'))
    #pclass가 2등급이고 성별이 female인 data를 꺼집어내서 보는거임
# groupby는 관련해서 그룹=폴더를 만드는 것이고
# get_group은 폴더안에 data를 꺼내보는 것과 같음

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
41,0,2,female,27.0,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
43,1,2,female,3.0,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
53,1,2,female,29.0,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,0,2,female,44.0,1,0,26.0000,S,Second,woman,False,NaN,Southampton,no,False
865,1,2,female,42.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False

In [ ]:
##groupby를 한 후 특정 통계치를 보고 싶은 경우
# sum, mean, mediam ,...
# agg(새로운 컬럼명=(기준컬럼,통계치))...n증가
tt.groupby('pclass').agg(fare_sum=('fare','sum'))
#pclass로 묶고 등급별 fare를 합계낸거임

          fare_sum
pclass
1       18177.4125
2        3801.8417
3        6714.6951

In [ ]:
#na값은 제외하고 계싼됨
tt.groupby('pclass').agg(fare_sum=('fare','sum'),
                         fare_mean=('fare','mean'),
                         age_mean=('age','mean'),
                         age_cnt=('age','count'))

          fare_sum  fare_mean   age_mean  age_cnt
pclass
1       18177.4125  84.154687  38.233441      186
2        3801.8417  20.662183  29.877630      173
3        6714.6951  13.675550  25.140620      355

In [ ]:
186+173+355

714

In [ ]:
#특정 함수를 만들어서 적용 가능함
def min_max(x):
    return x.max()-x.min()

In [ ]:
tt[['pclass','fare','age']].groupby('pclass').agg(min_max)
#등급별로 fare와 age 각각에 대해 최소값과 최대값을 더한 값

            fare    age
pclass
1       512.3292  79.08
2        73.5000  69.33
3        69.5500  73.58

In [ ]:
tt.groupby('pclass')['age'].mean()
#등급별 나이평균

pclass
1    38.233441
2    29.877630
3    25.140620
Name: age, dtype: float64

###qcut,cut
- qcut:데이터를 분위수(Quantitle) 따라 구간을 나눈다
    - 분위수 기준으로 균등하게 데이터를 나누는 함수
    - pd.qcut(x,q,labels=???, rertbins=??,precision=?,duplicates=??)
    - x는 구간 데이터로 나눌 시리즈 형태 또는 배열
    - q 구간 나눌 분위수 e.g 4면 4분위수
    - labels 각 구간에 붙일 이름
    - retbins 구간의 경계를 함께 반환할지
    - precision 구간의 경계의 소숫점 자릿수
- cut : 고정된 값의 구간으로 나누는 함수, 데이터의 값 범위에 따라 일정한
 크기의 구간을 정의하고, 각 데이터가 해당하는 구간을 속하게 만들면 됨
    - pd.cut(x,bins,right=???,나머지 동일,include_lowest=가장 낮은 구간 포함할지 여부)
    - 위와 동일한 hyperparameter

In [ ]:
## qcut 예시 데이터
import numpy as np

data = np.random.randn(10)
print(data)
#np.random.randn(10)
#→ 정규분포(평균=0, 표준편차=1) 를 따르는
#→ 실수형 랜덤값 10개를 생성하는 코드야!
#andn ← 이 함수가 정규분포를 따르는 난수 생성 함수야!
# randn = "random normal" 의 줄임말

# 정규분포란? 평균 0, 표준편차 1인 분포

[-0.41573364  0.56564442  2.04243258 -1.88787221  0.53593094  0.92554119
  0.16704614 -0.56255586 -0.1901571   0.91109764]

In [ ]:
res_qcut=pd.qcut(data, q=4,
                 labels=['1사분위','2사분위','3사분위','4사분위'])
print(res_qcut)

# pd.qcut(data, q=4)
# → data를 4개의 분위(quantile) 로 나눔
# → 즉, 같은 개수로 4등분해서 나눔 (데이터 분포 기준)

# labels=['1사분위','2사분위','3사분위','4사분위']
# → 각 구간에 사람이 보기 편한 이름(라벨) 을 붙임

['1사분위', '3사분위', '4사분위', '1사분위', '3사분위', '4사분위', '2사분위', '1사분위', '2사분위', '4사분위']
Categories (4, object): ['1사분위' < '2사분위' < '3사분위' < '4사분위']

In [ ]:
# cut의 예시
data =np.random.randn(10)*100
print(data)

[  -5.9054714  -163.36677803   30.55006517  -68.03549427  -72.95753583
  159.70509588  -57.46172111   56.4305459   -36.29279846   14.14374094]

In [ ]:
res_cut=pd.cut(data,bins=4,labels=['낮음','중간','높음','매우높음'])
print(res_cut)

['중간', '낮음', '높음', '중간', '중간', '매우높음', '중간', '높음', '중간', '높음']
Categories (4, object): ['낮음' < '중간' < '높음' < '매우높음']

from mmap import ACCESS_DEFAULT
### 타이타닉 데이터를 예시로 데이터를 나누기

1. age 기준으로 도메인 나누기
2. na값은 모른다하고
3. 19세 미만은 Child
4. 19~70 Adult
5. 나머지는 Senior

#2. fare 구간을 나눈기
- qcut, cut 나누기

- 구간화를 범주로 만들어서 파생변수를 만들고 확인해보기

- 데이터프레임에 특정 함수를 전체에 적용시킬 때 apply()
- apply(내가 전처리할 함수)

- age에 대한 함수 만들기

In [ ]:
def age_cat(age):
    if pd.isnull(age):
        return 'Unknown'
    elif age < 19:
        return 'Child'
    elif 19 <= age <70 :
        return 'Adult'
    else:
        return 'Senior'

In [ ]:
#apply 함수를 이용해서 쉽게 전처리 할 수 있음
tt['age_group']=tt['age'].apply(age_cat)

In [ ]:
#fare 요금에 대한 전처리
tt['fare_qcut'] = pd.qcut(tt['fare'],q=4,labels=['1사분위','2사분위','3사분위','4사분위'])
tt['fare_cut'] = pd.cut(tt['fare'],bins=4,labels=['1사분위','2사분위','3사분위','4사분위'])
# quct 에서는 q
# cut에서는 bins

In [ ]:
tt.fare_qcut.value_counts()

fare_qcut
2사분위    224
1사분위    223
3사분위    222
4사분위    222
Name: count, dtype: int64

In [ ]:
tt.fare_cut.value_counts()

fare_cut
1사분위    853
2사분위     29
3사분위      6
4사분위      3
Name: count, dtype: int64

In [ ]:
## assign 함수
## assign(변수명 = lambda 식 작성)
## labmda를 사용

tt.assign(age_100 = lambda x: x['age']*100)

# assign(...)	새로운 열을 만들어서 기존 DataFrame에 추가하는 메서드 (원본은 그대로!)
# age_100 = ...	새로 만들 열의 이름은 'age_100'
# lambda x: x['age'] * 100	각 행의 'age' 값을 100배 해주는 함
# -> 젤 끝쪽으로 당겨보면 age_100이 100배해서 새로운 column으로 생긴걸 확인가능함

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_group,fare_qcut,fare_cut,age_100
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,Adult,1사분위,1사분위,2200.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,Adult,4사분위,1사분위,3800.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,Adult,2사분위,1사분위,2600.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,Adult,4사분위,1사분위,3500.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,Adult,2사분위,1사분위,3500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,Adult,2사분위,1사분위,2700.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,Adult,3사분위,1사분위,1900.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,Unknown,3사분위,1사분위,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,Adult,3사분위,1사분위,2600.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,Adult,1사분위,1사분위,3200.0

In [ ]:
tt['age_100_2']=tt['age']*100

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_group,fare_qcut,fare_cut,age_100_2
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,Adult,1사분위,1사분위,2200.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,Adult,4사분위,1사분위,3800.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,Adult,2사분위,1사분위,2600.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,Adult,4사분위,1사분위,3500.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,Adult,2사분위,1사분위,3500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,Adult,2사분위,1사분위,2700.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,Adult,3사분위,1사분위,1900.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,Unknown,3사분위,1사분위,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,Adult,3사분위,1사분위,2600.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,Adult,1사분위,1사분위,3200.0

### 데이터 병합
- 붙이는 것
    - 왜 붙일까?
    - 기업에서 데이터는 다 DB안에 테이블로 나눠서 보관
    - ML 전처리 데이터 병합
- concat
    - 덩어리와 덩어리를 붙이는 것
    - 데이터프레임 + 데이터프레임을 그대로 붙이는 것
    - df1, df2
    - 붙이는 방법이 2가지
        1. 행 - 가로로 붙이는 방법
        2. 열 - 세로로 붙이는 방법
- merge
    - 공통된 컬럼을 가지고 병합을 하는 것
    - join : 공통 컬럼 기준을 지정한 후 inner, left,right,outer 조인의 연산 방법
    - join , 병합할 때 자세히 설명

In [ ]:
test1 = pd.DataFrame({'학회원분반번호':[1,2,3,4,5],
                     '학회원분반':['해바라기반','장미반','튤립반','잡초반','나무반']})
test2 = pd.DataFrame({'학회원분반번호':[2,4,6,8,10],
                      '학회원수':[100,200,300,400,500]})

In [ ]:
display(test1)
display(test2)

   학회원분반번호  학회원분반
0        1  해바라기반
1        2    장미반
2        3    튤립반
3        4    잡초반
4        5    나무반

   학회원분반번호  학회원수
0        2   100
1        4   200
2        6   300
3        8   400
4       10   500

In [ ]:
pd.merge(test1,test2,how='inner',on='학회원분반번호')

# 🔀 pd.merge(test1, test2, how='inner', on='학회원분반번호')
# 👉 해석:
# on='학회원분반번호'
# → 공통되는 컬럼(조인 기준 컬럼)은 "학회원분반번호"

# how='inner'
# → 공통되는 키 값만 남긴다 (양쪽에 모두 있는 row만)

   학회원분반번호 학회원분반  학회원수
0        2   장미반   100
1        4   잡초반   200

In [ ]:
pd.concat([test1,test2],axis=0)

# axis=0은 위아래로(row-wise) 붙이는 거고,

# axis=1은 좌우로(column-wise) 붙이는 거야.

   학회원분반번호  학회원분반   학회원수
0        1  해바라기반    NaN
1        2    장미반    NaN
2        3    튤립반    NaN
3        4    잡초반    NaN
4        5    나무반    NaN
0        2    NaN  100.0
1        4    NaN  200.0
2        6    NaN  300.0
3        8    NaN  400.0
4       10    NaN  500.0

In [ ]:
pd.concat([test1,test2],axis=1)

   학회원분반번호  학회원분반  학회원분반번호  학회원수
0        1  해바라기반        2   100
1        2    장미반        4   200
2        3    튤립반        6   300
3        4    잡초반        8   400
4        5    나무반       10   500

In [ ]:
### 과제

#연비, 마력 등의 개념
mpg = sns.load_dataset('mpg')

In [ ]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

- 2주차, 3주차 동안 배웠던 판다스 문법을 통해 전처리 진행
- 전처리를 하기 전 분석 목적을 정하고 코드를 만들고(주석으로 코드 설명) 나온 결과를 해석해 주세요.
    - e.g. origin 별로 연비가 가장 높은 차량의 name은 무엇인가?
    
- 그동안 배웠던 모든 문법을 1개 이상 다 적용해야 한다!